body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .task {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .task-text {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .action-remove {
    background-color:#999;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .action-remove:hover {
    background-color: #999;
  }
  